
html,body{
  height:100%
}

@font-face {
    font-family: spacemonkeybold;
    font-weight: bold;
    src: url("space-monkey-font/SpaceMonkeyBold-Ea5On.otf") format("opentype");
}
body {
    background: #112 url(cyberpunkcity1.jpg)  center no-repeat;
    background-size:cover;
    margin:0 ;
}
.logo {
    text-align: center;
    width: 65%;
    height: 250px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 250px;
    user-select: none;
}
.logo b{
    font-family:'spaceMonkeyBold';
    font-size: 18vh;
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #5233bf, 0 0 0.5em #5233bf, 0 0 0.1em #5233bf, 0 10px 3px #000;
}
.logo b span{
    animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2){
    animation: blink linear infinite 3s;
}
@keyframes blink {
    78% {
        color: inherit;
        text-shadow: inherit;
    }
    79%{
        color: #333;
    }
    80% {
        
        text-shadow: none;
    }
    81% {
        color: inherit;
        text-shadow: inherit;
    }
    82% {
        color: #333;
        text-shadow: none;
    }
    83% {
        color: inherit;
        text-shadow: inherit;
    }
    92% {
        color: #333;
        text-shadow: none;
    }
    92.5% {
        color: inherit;
        text-shadow: inherit;
    }
}
.txt {
    color:white;
    font-family:'spaceMonkeyBold';
    font-size:25px;
    text-align: center;
    position:absolute;
    bottom: 200px;
    left:0;
    right:0;
    }

.hvr-pulse-grow {
  
    position: absolute;
    top: 83%;
    left: 39%;
    text-decoration: none;
    font-family: 'spaceMonkeyBold';
    color:white;
}
@-webkit-keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
@keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        }
}
  .hvr-pulse-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }

#btn-git{
    clear:both;
    color:#fff;
    border:2px solid;
    border-radius:3px;
    text-align:center;
    text-decoration:none;
    display:block;
    font-family:sans-serif;
    font-size:25px;
    width:13em;
    padding:5px 10px;
    font-weight:600;
    position:absolute;
    bottom:20px;
    left:0;
    right:0;
    margin:0 auto;
    background:rgba(0,0,0,0.2);
    box-shadow:0 0 0px 3px rgba(0,0,0,0.2);
    opacity:0.4;
    }
#btn-git:hover{
    color:#fff;
    opacity:1;
}

